---
layout: default
title: Home
---

<div class="page">
  <h1 class="page-title"><a name="about">About</a></h1>

  <img src="public/me.jpg" class="profile"/>

  <p>I'm a recent PhD graduate in Computer Science.  I did my doctoral studies at the <a href="http://lamp.epfl.ch/"> Programming Methods Laboratory (LAMP)</a> at <a href="http://www.epfl.ch/">EPFL</a> under the supervision of Professor <a href="http://people.epfl.ch/martin.odersky">Martin Odersky</a>.</p>

  <p>In my research, I like to explore the many aspects of
  <em>programming languages</em>.  I'm particularly interested in type
  systems and theory, the semantics and implementation of
  domain-specific languages, as well as formal methods for scientific
  modeling.</p>

  <p>I am participating in the ongoing effort to
  <a href="http://scala-lang.org/blog/2016/02/03/essence-of-scala.html">
  formalize Scala's type system</a>.

  I like to mechanize proofs in
  <a href="https://github.com/agda/agda">Agda</a>, especially
  <a href="https://github.com/sstucki/pts-agda">type soundness
  proofs</a>.

  I'm interested in the design of domain-specific languages for
  modeling <a href="https://github.com/sstucki/odds">probabilistic</a>
  and <a href="{% post_url 2014-11-03-DanosHHS14icfem %}">
  stochastic</a> systems, especially <a href="{% post_url
  2012-09-10-DanosHJS12sasb-cdibp %}">biochemical systems</a>.

  I have also written a
  <a href="https://github.com/sstucki/kappa-emacs">GNU/Emacs mode</a>
  for <a href="http://kappalanguage.org/">Kappa</a>, a modeling
  language for systems biology.</p>

  <h2>Find me</h2>
  <ul class="contact">
    <li><a href="https://people.epfl.ch/sandro.stucki">at EPFL</a></li>
    <li><a href="https://github.com/sstucki">on GitHub</a></li>
    <li><a href="https://twitter.com/stuckintheory">on Twitter
      @stuckintheory</a></li>
    <li><a href="https://www.linkedin.com/in/sandro-stucki-8a3a9413">on LinkedIn</a></li>
    <li><a href="http://dblp.org/pid/147/8375">on DBLP</a></li>
    <li><a href="https://scholar.google.com/citations?user=bT3AeDoAAAAJ">on
      Google Scholar</a></li>
    <li><a href="https://orcid.org/0000-0001-5608-8273">ORCID</a></li>
  </ul>
</div>

<div class="page">
  <h1 class="page-title"><a name="publications">Research and Publications</a></h1>
  <ul>
    {% for pub in site.categories.pubs %}
    <li>
      <a href="{{ pub.url }}">{{ pub.title }}</a>,
      {{ pub.authors | array_to_sentence_string }}. {{ pub.howpublished }}.
      <ul class="related-links">
        {% for link in pub.links %}
        <li><a href="{{ link[1] }}">{{ link[0] }}</a></li>
        {% endfor %}
      </ul>
    </li>
    {% endfor %}
  </ul>
</div>

<div class="page">
  <h1 class="page-title"><a name="events">Events</a></h1>
  <ul>
    {% for ev in site.categories.events %}
    <li>
      <a href="{{ ev.url }}">{{ ev.short }}</a> on
      {{ ev.event-date }}, {{ ev.location }} ({{ev.role}}).
    </li>
    {% endfor %}
  </ul>
</div>
