---
layout: default
title: Home
---

<div class="page">
  <h1 class="page-title"><a name="about">About</a></h1>

  <img src="public/me.jpg" class="profile"/>

  <p>I'm a postdoctoral researcher at the department
  of <a href="https://www.chalmers.se/cse/">Computer Science and Engineering (CSE)</a>
  at <a href="https://www.chalmers.se/">Chalmers</a>&nbsp;/ <a href="https://www.gu.se/">University of Gothenburg</a>.  I did my doctoral studies at the <a href="http://lamp.epfl.ch/"> Programming Methods Laboratory (LAMP)</a> at <a href="http://www.epfl.ch/">EPFL</a> under the supervision of Professor <a href="http://people.epfl.ch/martin.odersky">Martin Odersky</a>.</p>

  <p>In my research, I like to explore the many aspects of
  <em>programming languages</em>.  I'm particularly interested in type
  systems and theory, the semantics and implementation of
  domain-specific languages, as well as formal methods for scientific
  modeling.</p>

  <p>Until recently, I spent my time pondering the <a href="http://scala-lang.org/blog/2016/02/03/essence-of-scala.html">type safety of Scala</a> and <a href="https://github.com/sstucki/f-omega-int-agda">related type systems</a>.  These days, I’m busy <a href="{% post_url pubs/2019-08-01-StuckiSSB19fm %}">applying formal methods</a> and type theory to problems in privacy and security, and hacking <a href="https://github.com/sstucki/pts-agda">type soundness proofs</a> and <a href="https://github.com/agda/agda-categories">category theory</a> in <a href="https://github.com/agda/agda">Agda</a>.

  I'm interested in the design of domain-specific languages for
  modeling <a href="https://github.com/sstucki/odds">probabilistic</a>
  and <a href="{% post_url pubs/2014-11-03-DanosHHS14icfem %}">
  stochastic</a> systems, especially <a href="{% post_url
  pubs/2012-09-10-DanosHJS12sasb-cdibp %}">biochemical systems</a>.

  I have also written a
  <a href="https://github.com/sstucki/kappa-emacs">GNU/Emacs mode</a>
  for <a href="http://kappalanguage.org/">Kappa</a>, a modeling
  language for systems biology.</p>

  <h2>Find me</h2>
  <ul class="contact">
    <li><a href="https://www.chalmers.se/en/Staff/Pages/sandros.aspx" target="_blank">at Chalmers</a>&nbsp;| <a href="https://www.gu.se/om-universitetet/hitta-person/sandrostucki" target="_blank">University of Gothenburg</a></li>
    <li><a href="https://github.com/sstucki" target="_blank">on GitHub</a></li>
    <li><a href="https://twitter.com/stuckintheory" target="_blank">on Twitter @stuckintheory</a></li>
    <li><a href="https://www.linkedin.com/in/sandro-stucki-8a3a9413" target="_blank">on LinkedIn</a></li>
    <li><a href="http://dblp.org/pid/147/8375" target="_blank">on DBLP</a></li>
    <li><a href="https://scholar.google.com/citations?user=bT3AeDoAAAAJ" target="_blank">on Google Scholar</a></li>
    <li><a href="https://orcid.org/0000-0001-5608-8273" target="_blank">ORCID</a></li>
  </ul>
</div>

<div class="page">
  <h1 class="page-title"><a name="publications">Research and Publications</a></h1>
  <ul>
    {% for pub in site.categories.pubs %}
    <li>
      <a href="{{ pub.url }}">{{ pub.title }}</a>.
      {{ pub.authors | array_to_sentence_string }}. {{ pub.howpublished }}.
      <ul class="related-links">
        {% for link in pub.links %}
        <li><a href="{{ link[1] }}" target="_blank">{{ link[0] }}</a></li>
        {% endfor %}
      </ul>
    </li>
    {% endfor %}
  </ul>
</div>

<div class="page">
  <h1 class="page-title"><a name="teaching">Teaching</a></h1>
  <p>In the past, I taught two courses at Chalmers/Gothenburg university:</p>
  <ul>
    {% for course in site.data.teaching %}
    <li>
      <a href="{{ course.url }}" target="blank">
        {% if course.code %} {{ course.code }} &ndash; {% endif %}
        {{ course.name }}</a>, {{ course.term }}
      at {{ course.inst }}.
    </li>
    {% endfor %}
  </ul>
</div>

<div class="page">
  <h1 class="page-title"><a name="events">Events and Community Service</a></h1>

  <h3>Service</h3>
  <ul>
    {% assign service-cats = site.data.service | group_by: 'role' %}
    {% for cat in service-cats %}
    <li>{{ cat.name }}:
    {% for task in cat.items %}
    <a href="{{ task.url }}" title="{{ task.title }}">{{ task.short }}&nbsp;{{ task.year }}</a>{% if forloop.last %}.{% else %},{% endif %}
    {% endfor %}
    </li>
    {% endfor %}
  </ul>
  <h3>Events</h3>
  <ul>
    {% for ev in site.categories.events %}
    <li>
      <a href="{{ ev.url }}" title="{{ ev.title }}">{{ ev.short }}</a>
      on {{ ev.event-date }}, {{ ev.location }} ({{ev.role}}).
    </li>
    {% endfor %}
  </ul>
</div>
